
@media screen and (max-width: 1024px) {
    .page-header__background {
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover;
      margin: 0 auto;
    }

    .page-preview__headline__title {
        margin-left: 13%;
    }
    .page-preview__headline__title__text {
        margin-left: 13%;
    }
     
    .page-section {
        margin-bottom: 50px;
        padding-top: 50px;
    }
    
    .section-text {
      font-size: 16px;
      padding-left: 10px;
      text-align: center;
      margin: auto;
      margin-bottom: 50px;
    }
  
    .section-block img {
      height: auto;
      width: 100%;
      overflow: hidden;
    }
  
    
    .section-block__text--left {
      font-size: 16px;
      display: block;
      text-align: center;
      margin: auto;
      padding-left: 10px;
      flex-shrink: 1;
      width: auto;
      padding-top: 50px;
    }
  
    .section-block__text--right {
      font-size: 16px;
      display: block;
      text-align: center;
      margin: auto;
      padding-left: 10px;
      flex-shrink: 1;
      width: auto;
      padding-top: 50px;

    }
}









@media screen and (max-width: 450px) {
.page-header__background-preview {
    background-image: url('../images/img_banner-320.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    height: 240px;
}
.page-preview__headline {
    margin-left: 0;
    margin-top: 0;
}
.page-preview__headline__title__text {
    display: none;
}

.page-preview__headline__title {
    font-size: 18px;
    margin-top: 48px;
    margin-right: 200px;
}

.section-text__preview-mobile {
    display: block;
    font-size: 10px;
    text-align: center;
    color: #000;
}

.section-list__mobile {
    display: block;
    margin-bottom: 98px;
}

.section-list__mobile-items {
    list-style-type: none;
    padding-left: 0;        

}

.section-list__mobile-items a {
    color: black;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-decoration: none;
    transition: color 0.2s ease;
    padding-left: 45px;
  }

  .section-list__mobile-item {
    padding-top: 13px;
    padding-bottom: 13px;
    border-top: 1px solid #000;
  }

  .section-list__mobile-item:last-child {
    padding-top: 13px;
    padding-bottom: 13px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
  }
    
    .section-block {
    display: none;
    }
    .page-section__btn-about-as {
    display: none;
    }
    .section-social__mobile {
    display: block;
    }
    .section-text__mobile {
    display: block;
    padding-left: 13%;
    padding-right: 13%;
    }

      
  }